{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<form method="post">
  {% csrf_token %}
  
  <h1>Change Taxon</h1>
  
  <p>You have selected {{ queryset.count }} image(s) to change taxon.</p>
  
  <fieldset class="module">
    <div class="form-row">
      {{ form.new_taxon.label_tag }}
      {{ form.new_taxon }}
      {{ form.new_taxon.errors }}
    </div>
  </fieldset>
  
  <div class="submit-row">
    <input type="hidden" name="action" value="change_taxon_action">
    {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
    {% endfor %}
    <input type="submit" name="apply" value="Change taxon">
    <a href="{{ cancel_url }}" class="button cancel-link">Cancel</a>
  </div>
</form>

{{ form.media }}
{% endblock %}