.aligned label + div {
  float: left;
}

.aligned label + div label {
  float: none;
  width: auto;
}

.field-taxon .select2-selection__clear {
  margin-right: .25rem;
  width: 1rem;
  text-align: center;
}

.media-tag-widget {
  min-width: 24rem;
}

.media-template-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: .5rem;
}

.media-template-toolbar .button {
  padding: .3125rem .625rem;
}
