.aligned label + div {
  float: left;
}

.aligned label + div label {
  float: none;
  width: auto;
}

.field-taxon .select2-selection__clear {
  margin-right: .25rem;
  width: 1rem;
  text-align: center;
}
